.myBtn{
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    font-family: 'Tenor Sans';
    transition: .3s;
}
.myBtn:hover{
    color:#000;
    background-color: #fff;
}